---
const { url, text = 'Enroll now', variant = 'primary' } = Astro.props;
---

<a
  href={url}
  class:list={{
    'button-primary': variant === 'primary',
    'button-ghost': variant === 'ghost',
  }}
  target="_blank"
  rel="nofollow sponsored noopener"
>
  <span>{text}</span>
</a>
